<!DOCTYPE html>
<html lang="en" ng-app="blogApp">
<head>
    <meta charset="UTF-8">
    <title>Blog!</title>
    <script src="angular.min.js"></script>
    <script src="blog.js"></script>
</head>
<body ng-controller="BlogController">
<h1>Welcome!</h1>
<ul>
    <li ng-repeat="post in posts">
        <h2>{{post.title}}</h2>

        <p>{{post.body}}</p>
    </li>
</ul>
<form ng-submit="submit()">
    <h2>Add post</h2>
    <label for="title">Title</label><input ng-model="newpost.title" name="title" id="title" type="text"/>
    <label for="body">Content</label><textarea ng-model="newpost.body" name="body" id="body"></textarea>
    <input type="submit" value="Post!"/>
</form>
</body>
</html>
